<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Blog", blog_path %></li>
    <li><%= link_to "News", blog_news_path %></li>
    <li><%= link_to "Reviews", blog_reviews_path %></li>
  </ul>
</nav>